
#profile
{
    border-radius:50% ;
    height:60%;
    width: 60%;

}
.anyclass{
    height:385px;
  overflow-y: scroll;
}

#profile:hover
{


}
#loginform {font-size: 14px;
    font-weight: 700;
    color: #282828;
    line-height: 22px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
    background: #fff;
    padding: 24px;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.14);
}
